:root {
  --color-primary: #FFFFFF;
  --color-secondary: #FDDF23;
  --color-tertiary: #E6C200;
  --color-quaternary: #F5F5F5;
  --color-text: #000000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-text;
  }
}

@layer components {
  .btn-primary {
    @apply bg-secondary text-text hover:bg-tertiary;
  }
  .btn-secondary {
    @apply bg-quaternary text-text hover:bg-gray-200;
  }
}

